---

- name: Create app directory
  file:
    path: "/home/{{ username }}/webapp"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Copy docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "/home/{{ username }}/webapp/docker-compose.yml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Copy backend Dockerfile
  template:
    src: Dockerfile.backend.j2
    dest: "/home/{{ username }}/webapp/Dockerfile.backend"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Copy frontend Dockerfile
  template:
    src: Dockerfile.frontend.j2
    dest: "/home/{{ username }}/webapp/Dockerfile.frontend"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Copy requirements.txt
  copy:
    src: requirements.txt
    dest: "/home/{{ username }}/webapp/requirements.txt"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Copy app.py
  template:
    src: app.py
    dest: "/home/{{ username }}/webapp/app.py"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Copy index.html
  copy:
    src: index.html
    dest: "/home/{{ username }}/webapp/index.html"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Start firewalld service
  systemd:
    name: firewalld
    enabled: yes
    state: started

- name: Allow SSH through firewalld
  firewalld:
    service: ssh
    permanent: yes
    state: enabled
    immediate: yes

- name: Enable firewalld service
  systemd:
    name: firewalld
    enabled: yes
    state: started
    daemon_reload: yes

- name: Start docker-compose
  command: docker-compose up -d
  args:
    chdir: "/home/{{ username }}/webapp"
  become_user: "{{ username }}"
  become: true
  ignore_errors: true
