---

- name: Create user
  user:
    name: "{{ username }}"
    shell: /bin/bash
    create_home: yes
    groups: docker
    append: yes

- name: Create app directory
  file:
    path: "/home/{{ username }}/webapp"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Copy docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "/home/{{ username }}/webapp/docker-compose.yml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Copy backend Dockerfile
  template:
    src: Dockerfile.backend.j2
    dest: "/home/{{ username }}/webapp/Dockerfile.backend"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Copy frontend Dockerfile
  template:
    src: Dockerfile.frontend.j2
    dest: "/home/{{ username }}/webapp/Dockerfile.frontend"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Allow SSH through firewalld
  firewalld:
    service: ssh
    permanent: yes
    state: enabled
    immediate: yes

- name: Enable firewalld service
  systemd:
    name: firewalld
    enabled: yes
    state: started
    daemon_reload: yes

- name: Set default zone to drop
  firewalld:
    zone: drop
    permanent: yes
    state: enabled
    immediate: yes

- name: Start docker-compose
  command: docker-compose up -d
  args:
    chdir: "/home/{{ username }}/webapp"
  become_user: "{{ username }}"
  become: true
  ignore_errors: true
